{% extends 'base.html.twig' %}

{% block title %}Consultation index{% endblock %}

{% block body %}
    <h1>Consultation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Last_date</th>
                <th>Reasons</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{ consultation.lastDate ? consultation.lastDate|date('Y-m-d') : '' }}</td>
                <td>{{ consultation.reasons }}</td>
                <td>{{ consultation.diagnosis }}</td>
                <td>{{ consultation.treatment }}</td>
                <td>{{ consultation.createdAt ? consultation.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_consultation_show', {'id': consultation.id}) }}">show</a>
                    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consultation_new') }}">Create new</a>
{% endblock %}
