{% extends 'base.html.twig' %}

{% block title %}Annotation index{% endblock %}

{% block body %}
    <h1>Annotation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Notes</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annotation in annotations %}
            <tr>
                <td>{{ annotation.id }}</td>
                <td>{{ annotation.notes }}</td>
                <td>{{ annotation.createdAt ? annotation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_annotation_show', {'id': annotation.id}) }}">show</a>
                    <a href="{{ path('app_annotation_edit', {'id': annotation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annotation_new') }}">Create new</a>
{% endblock %}
