{% extends 'base.html.twig' %}

{% block title %}Annotation{% endblock %}

{% block body %}
    <h1>Annotation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annotation.id }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ annotation.notes }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ annotation.createdAt ? annotation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annotation_index') }}">back to list</a>

    <a href="{{ path('app_annotation_edit', {'id': annotation.id}) }}">edit</a>

    {{ include('annotation/_delete_form.html.twig') }}
{% endblock %}
